.fix-margin-top-10px {
  margin-top: 10px;
}

.nav-bi {
  margin-top: -10px
}

.form-filter {
  margin-top: -20px;
  margin-bottom: 20px;
  background-color: #eee;
  padding: 15px 20px;
  border-radius: 6px;
}