<div class="row">
  <div class="container">
    <div class="col-md-12 fix-margin-top-10px">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">
            WBA BI - Dashboard
          </h3>
          <span class="pull-right">
            <ul class="nav panel-tabs">
              <li ui-sref-active="active">
                <a ui-sref="dashboard.geral" data-toggle="tab">Geral</a>
              </li>
              <li ui-sref-active="active">
                <a ui-sref="dashboard.duplicatas" data-toggle="tab">Duplicatas</a>
              </li>
              <li ui-sref-active="active">
                <a ui-sref="dashboard.sacado" data-toggle="tab">Sacado</a>
              </li>
              <li ui-sref-active="active">
                <a ui-sref="dashboard.monitore">Monitore</a>
              </li>
            </ul>
          </span>
        </div>
      </div>
      <div class="panel-body" ui-view="">
        
      </div>
    </div>
  </div>
</div>